.btn {
  color: RGB(255, 110, 0);
  text-transform: uppercase;
  padding: 0.8rem 1.6rem;
  font-family: inherit;
  font-size: 1.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.loginDugme {
  font-weight: 700;
  background-color: RGB(230, 230, 230);
  color: RGB(255, 110, 0);
}

.registracijaDugme {
  font-weight: 600;
  background-color: RGB(255, 110, 0);
  color: RGB(230, 230, 230);
}

.position {
  font-weight: 700;
  position: absolute;
  z-index: 1000;
  font-size: 1.4rem;
  bottom: 4rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: red;
  color: yellow;
  box-shadow: 0 0.4rem 1.2rem rgba(36, 42, 46, 0.16);
}
.prijateljDugme {
  grid-row: span 3;
  grid-column: 3;
  margin-right: 10px;
  color: RGB(230, 230, 230);
  background-color: RGB(255, 110, 0);
}

.prijateljDodaj {
  margin-top: 7px;
  color: RGB(230, 230, 230);
  background-color: RGB(255, 110, 0);
  grid-column: 2;
}

.podeliTrosak {
  margin-top: 7px;
  color: RGB(230, 230, 230);
  background-color: RGB(255, 110, 0);
  grid-column: 2;
}
.dugmePaginacija {
  padding: 5px;
  color: RGB(255, 110, 0);
  background-color: RGB(230, 230, 230);
}
