.prijatelj {
  display: grid;
  grid-template-columns: 50px;
  align-items: center;
  column-gap: 13px;
  width: 52vh;
  height: 10vh;
  padding: 10px;
  border-radius: 7px;
  transition: 0.5s;

  background-color: black;
}

.prijatelj img {
  border-radius: 50%;
  width: 100%;
  grid-row: span 2;
}

.prijatelj h3 {
  grid-row: 1;
  grid-column: 2;
}

.prijatelj p {
  grid-row: 2;
  grid-column: 2;
}

.green {
  color: #66a80f;
}

.red {
  color: #e03131;
}
